@page "/BooksPages/Main/SaleConfirm"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager

<h3>Sale Confirmation</h3>
<body>
    <p>
        This message serves as a confirmation of your sale request.
        Your book has been successfully added into the database and you will be notified as soon as someone makes a request to purchase it.
        Thank you for your business!
        Click on the OK button to browse more books.
    </p>
</body>
<button type="submit" name="btnOkSale" class="btn btn-primary" style="float: left;" @onclick="BackNav">Okay</button>

@code {

    protected override void OnInitialized()
    {

    }

    void BackNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main");

    }

}
