@page "/BooksPages/Main/SaleConfirm"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary
@using DataAccessLibrary.Bussiness_Logic.BooksLogic
@using BlazorDemoUI.Models

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager
@inject IBooksCreateService booksAdd
@inject IBookData _db

<h3>Sale Confirmation</h3>
<body>
    <p>
        This message serves as a confirmation of your sale request.
        <br />
        Your book has been successfully added into the database and you will be notified as soon as someone makes a request to purchase it.
        <br />
        Thank you for your business!
        <br />
        Click on the OK button to browse more books.
        <br />
    </p>
</body>
<button type="submit" name="btnOkSale" class="btn btn-primary" style="float: left;" @onclick="@InsertBook">Okay</button>


@*##########################################################################################################
    Start of c# code
    ##########################################################################################################*@

@code {

    Books _book;
    List<Books> booksList;
    List<Books> OGlist;
    Books n;

    private DisplayBookModel newBook = new DisplayBookModel();

    protected override async Task OnInitializedAsync()
    {
        //OGlist = await _db.Get_Books();
        //booksList = OGlist;

        _book = booksAdd.book;
    }

    private async Task InsertBook()
    {
        try
        {
            NavigationManager.NavigateTo("/BooksPages/Main");

            await _db.InsertBook(_book);

            OGlist = await _db.Get_Books();
            booksList = OGlist;

        }
        catch (Exception ex)
        {
            string stest = ex.ToString();
        }

    }

    //void BackNav()
    //{
    //    NavigationManager.NavigateTo("/BooksPages/Main");
    //}

}
