@page "/TestEnviroment"


@using DataAccessLibrary.Models;
@using DataAccessLibrary;
@using Services;

@inject NavigationManager navManager
@inject AuthenticationStateProvider authenticationService
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject IUserData userDataService


<p>
    <AuthorizeView>
        <Authorized>
            Loggd in
            @context.User.Identity.Name
            @context.User.Claims.ToList()
        </Authorized>
    </AuthorizeView>
</p>
<br />
<p>
    <AuthorizeView Roles="admin">
        <Authorized>
            Loggd in
            @context.User.Identity.Name
            AAAAAAAAAAAAAAAAAAAAAA
        </Authorized>
    </AuthorizeView>
</p>



