
.vs/BlazorDemoApp/config/applicationhost.config
*.config
*.config
.vs/BlazorDemoApp/config/applicationhost.config
.vs/BlazorDemoApp/DesignTimeBuild/.dtbcache.v2
.vs/BlazorDemoApp/v16/.suo
BlazorDemoUI/bin/Debug/netcoreapp3.1/BlazorDemoUI.dll
BlazorDemoUI/bin/Debug/netcoreapp3.1/BlazorDemoUI.pdb
BlazorDemoUI/bin/Debug/netcoreapp3.1/BlazorDemoUI.runtimeconfig.dev.json
BlazorDemoUI/bin/Debug/netcoreapp3.1/BlazorDemoUI.Views.dll
BlazorDemoUI/bin/Debug/netcoreapp3.1/BlazorDemoUI.Views.pdb
BlazorDemoUI/bin/Debug/netcoreapp3.1/DataAccessLibrary.dll
BlazorDemoUI/bin/Debug/netcoreapp3.1/DataAccessLibrary.pdb
BlazorDemoUI/obj/BlazorDemoUI.csproj.nuget.dgspec.json
BlazorDemoUI/obj/BlazorDemoUI.csproj.nuget.g.props
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.assets.cache
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.csproj.CoreCompileInputs.cache
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.csproj.FileListAbsolute.txt
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.csprojAssemblyReference.cache
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.dll
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.pdb
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.RazorCoreGenerate.cache
BlazorDemoUI/obj/Debug/netcoreapp3.1/BlazorDemoUI.TagHelpers.output.cache
BlazorDemoUI/obj/Debug/netcoreapp3.1/Razor/Pages/MyPages/BooksPages/BookComponent.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/Razor/Pages/MyPages/BooksPages/BooksPageMain.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/Razor/Pages/MyPages/People.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/Razor/Pages/MyPages/User.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/Razor/Pages/TestEnviroment/CodingTest.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/Razor/Pages/TestEnviroment/WALDO_CARMEN.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/Razor/Shared/NavMenu.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/_Imports.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/App.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorDemoUI.dll
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/BlazorDemoUI.pdb
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Counter.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Error.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/FetchData.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/Index.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/MyPages/BooksPages/BookComponent.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/MyPages/BooksPages/BooksPageMain.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/MyPages/People.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/MyPages/User.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/TestEnviroment/CodingTest.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Pages/TestEnviroment/WALDO_CARMEN.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/MainLayout.razor.g.cs
BlazorDemoUI/obj/Debug/netcoreapp3.1/RazorDeclaration/Shared/NavMenu.razor.g.cs
DataAccessLibrary/bin/Debug/netstandard2.0/DataAccessLibrary.dll
DataAccessLibrary/bin/Debug/netstandard2.0/DataAccessLibrary.pdb
*.dll
.vs/BlazorDemoApp/v16/.suo
*.pdb
*.cache
