@page "/BooksPages/Main/{BookTitle}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models


<h4>Book</h4>



<NavLink href="/BooksPages/Main">Return to Books page</NavLink>

@code {

    [Parameter]
    public string BookTitle { get; set; }


}
