@page "/BooksPages/Main/{BookTitle}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models

@inject IBooksBussinessLogic BooksService

<h1>Book Information</h1>



<NavLink href="/BooksPages/Main">Return to Books page</NavLink>

@code {

    [Parameter]
    public string BookTitle { get; set; }


}
