@page "/BooksPages/Main/{BookTitle}"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<h1>Book Information</h1>


<NavLink href="/BooksPages/Main">Return to Books page</NavLink>

@code {

    [Parameter]
    public string BookTitle { get; set; }


}
