@page "/BooksPages/Main/AddBooks/Locations"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<h3>Reccomended Locations for book Transaction</h3>
<br />
<h5>Select Any of the below reccomeneded locations or enter your own.</h5>


  


<br />

<div>
    Desired Transaction Location:
    <input type="text" id="txtLocation" placeholder="Enter location here" style="" />
    <br />
    <button type="submit" id="btnNext" class="btn btn-primary" @onclick="NextNav" style="float: left;">Submit</button>
</div>



@code {

    List<Books> booksList;

    protected override void OnInitialized()
    {
        booksList = StaticTestData.BookTestData;
    }

    void NextNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main/SaleConfirm");

    }

}
