@page "/BooksPages/Main/AddBooks/Locations"

@using DataAccessLibrary.Bussiness_Logic
@using DataAccessLibrary.Models
@using DataAccessLibrary

@inject IBooksBussinessLogic BooksService
@inject NavigationManager NavigationManager


<h3>Reccomended Locations for book Transaction</h3>
<br />
<h5>Select Any of the below reccomeneded locations or enter your own.</h5>


@*<div class="row">
    <div class="col-md-4">
        <label for="Country" class="control-label">Country</label>
    </div>
</div>
<div class="row" style="padding-top:10px">
    <div class="col-md-4">
        <select class="form-control" onchange="obj.bookClicked()">
            <option value="">-- Select Country --</option>
            @foreach (var item in booksList)
            {
                <option value="@item.UserID">@item.LocationID</option>

            }
        </select>
    </div>
</div>
<div class="row" style="padding-top:50px">
    <div class="col-md-4">
        <label class="control-label">Country Name: @_book.LocationID</label>
    </div>
</div>*@



<br />

<div>
    Desired Transaction Location:
    <input type="text" id="txtLocation" placeholder="Enter location here" style="" />
    <br />
    <button type="submit" id="btnNext" class="btn btn-primary" @onclick="NextNav" style="float: left;">Submit</button>
</div>



@code {
    //[Parameter]
    //public int id { get; set; }


    string location { get; set; }

    protected Books _book;
    List<Books> booksList;

    protected override void OnInitialized()
    {
        booksList = StaticTestData.BookTestData;
        //_book = StaticTestData.GetSingleBook(id);
    }

    protected async void bookClicked(ChangeEventArgs locatEvent)
    {
        location = locatEvent.Value.ToString();
        this.StateHasChanged();
    }

    void NextNav()
    {
        NavigationManager.NavigateTo("/BooksPages/Main/SaleConfirm");

    }

}
