@using DataAccessLibrary;

<h3>ForgotPassword</h3>


<input type="email" placeholder="Email" @bind="_email"/>

<button @onclick="@EmailThePassword">Send email</button>

@code {

    string _email;

    void EmailThePassword()
    {
        if (_email!=null)
        {
            Utilities.Email.SendMail(_email, "Password", Utilities.Email.GenerateForgotPasswordMessage("jis jys dom", "Test password"), true);
        }
    }
}
